/* form.module.css */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.form-field {
    display: flex;
    flex-direction: column;
    width: 1vw;
    margin-bottom: 20px;
}

.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input[type='text'],
.form-field input[type='email'],
.form-field textarea {
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

.form-field input[type='text'],
.form-field input[type='email'] {
    height: 40px;
    width: 1px;
}

.form-field textarea {
    min-height: 120px;
    width: auto;
}


.form-submit {
    display: inline-block;
    padding: auto;
    padding-top: 1vw;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.form-submit:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    gap: .50vw;
}

.input,
.textarea {
    padding: 8px;
    text-align: center;
    margin: 8px;
    border: solid;
    border-radius: 4px;
    border-color: black;
    background-color:#bccbda;
    width: 40vw;
    box-sizing: border-box;
    border: rgba(1, 1, 1, 0.3);
    border-color: black;
}

.textarea {
    height: 150px;
    width: 40vw;
}

.label {
    margin: 8px;
}

.button {
    background-color: #0c4d7b;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2vw;
}

.button:hover {
    background-color: rgb(97, 169, 240);
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}