:root {
  --bg: #c7dfef;
  --secondary: pink;
  --light: rgba(238, 238, 247, 1);
}


body {
  background-color: var(--bg);
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
}

/*
.header { 
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 0rem;
}

.banner {
 
  max-height: 100px; 
  object-fit: cover;
  height: 50vh;
}
*/



nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 15px; 
}

nav a {
  color: black;
  text-decoration: none;
}

nav li a.active {
  text-decoration: underline !important;
}

body {

  margin: auto;
}



img {
  
  max-width: 100%;
  height: auto;
 
}
.workModule img {
  height: 50vw;
 
}

.footer {
  text-align: center;
  font-size: 4rem;
  justify-content: center;
}

.footerIcons {
  justify-content:center;
  padding-right: 2.5rem;
  list-style-type: none;
  column-gap: 100px;
  display: flex;
}


.contactLink svg {
  color: #0c4d7b;
  transition: color 0.3s ease;
}


.contactLink:hover svg {
  color: rgb(97, 169, 240);
}

@media screen and (max-width: 760px) {
  .footer {
    font-size: 4rem;
  }

  .footerIcons {
    justify-content: center;
    list-style-type: none;
    column-gap: 60px;
    padding: 0;
  }


  .contactLink svg {
    color: #0c4d7b;
    transition: color 0.3s ease;
  }


  .contactLink:hover svg {
    color: rgb(97, 169, 240);
  }
}