:root {
  --bg: pink;
  --secondary: pink;
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}


/* Set global styles */
body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style the header */
.header {
  width: 100vw; /* 100% of the viewport width */
  height: /* Choose the height you want for your header, for instance: */ 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 0rem;
}

.banner {
  max-width: 100%; /* Image won't exceed the container width */
  max-height: 100%; /* Image won't exceed the container height */
  object-fit: cover; /* The image will cover the area of the container while maintaining its aspect ratio */
  height: 50vh;
}

.profileImg {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  padding-bottom: 0rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.profileImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* Style the navigation links */
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 15px; /* Adjust as necessary */
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Style the page content */
main {
  margin: 2rem auto;
  max-width: 960px;
  padding: 0 1rem;
}

/* Style headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

/* Style paragraphs */
p {
  line-height: 1.5;
  text-indent: 2em;
}

/* Style images */
img {
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.footer {
  color: var(--secondary);
  text-align: center;
  font-size: 4rem;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.footerIcons {
  justify-content:center;
  column-gap: 60px;
  display: flex;
  overflow: hidden;
  padding: 10;
}

/* Color for the footer icons */
.contactLink svg {
  color: black;
  transition: color 0.3s ease;
  /*   smooth transition for hover effect */
}

/* Hover effect for the footer icons */
.contactLink:hover svg {
  color: blue;
}