:root {
  --bg: pink;
  --secondary: pink;
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}


/* Set global styles */
body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style the header */
.header {
    
  padding: 0rem;
  text-align: center;
  position: relative;

}

.banner {
  object-fit: cover;
  width: 100%;
  height: 20vh;
}

.profileImg {
  height: 22rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 8px;
  overflow: hidden; /* Ensures that the image is clipped to the dimensions of the container */
}
.profileImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Centers and scales the image within the container */
}
  
  /* Style the navigation links */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Style the page content */
  main {
    margin: 2rem auto;
    max-width: 960px;
    padding: 0 1rem;
  }
  
  /* Style headings */
  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
  }
  
  /* Style paragraphs */
  p {
    line-height: 1.5;
    text-indent: 2em;
  }
  
  /* Style images */
  img {
    max-width: 100%;
    height: auto;
    justify-content: center;
  }

.footer {
  color: var(--secondary);
  text-align: center;
  font-size: 4rem;
  left: 0;
  bottom: 0;
}

.footerIcons {
  justify-content: center;
  column-gap: 40px;
  display: flex;
}