

.navigationContainer {
  width: 100%;
  background-color: #a9c4d6;
}

@media screen and (max-width: 767px) {


  .navigationContainer {
    padding: 1px 5px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1366px) {


  .navigationContainer {
    padding: 10px 5px;
  }
}


@media screen and (min-width: 1367px) and (max-width: 1980px) {


  .navigationContainer {
    padding: 15px 30px;
  }
}

