.title {
    color: red;
}

img {

    height: 20rem;
    width: 20.5rem;
    border-radius: 10px;
    margin-top: 1vw;
    margin-left: 7vw;
}


.aboutContent {
    height: auto;
    margin-right: 8.5vw;
    margin-top: -1.60vw; 
    margin-left: -7vw;
    text-align: left;
    font-size:  1.18rem;
    margin-bottom: -2.6rem;

}




.about {
    height: 1rem;
}

.aboutHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
    color: black;
    margin-top: 1vw;
    margin-right: 3vw;
    text-align: left;
}


@media screen and (max-width: 1366px) {
    .aboutHolder {
      max-width: 100vw;
      flex-direction: column;
    }
  
    .aboutHolder img {
      margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767px) {
    /* Mobile portrait style */
    img {
        height: auto; 
        width: 70%; 
        margin: 1rem auto;
    }

    .aboutContent {
        margin: 1rem 2vw;
    }

    .aboutText {
        font-size: 1.5rem;
    }

    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Mobile landscape style */
    img {
        height: auto; 
        width: 40%; 
        margin-top: 1rem;
    }

    .aboutContent {
        margin: 1rem 4vw;
        font-size: 1.2rem;
        margin-left: 7rem;
        margin-right: -1rem;
    }

    .aboutText {
        font-size: 1.7rem;
        text-align: center;
    }

    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 1023px) and (max-width: 1370px) {
    img {
        height: 15%; 
        width: 65%; 
        margin-top: 2rem;
        margin-right: 12rem;
    }

    .aboutContent {
        margin-top: -3rem;
        margin-left: -8rem;
        margin-right: -1.9rem;
        font-size: 1.13rem;
    }

    .aboutText {
        font-size: 1.3rem;
    }

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 5px;
        align-items: center;
        color: black;
        margin-top: -2vw;
    }
}

@media screen and (min-width: 2100px) and (max-width: 2700px) {
    img {

        height: 2vw;
        width: 17vw;
        border-radius: 4px;
        margin-top: 2vw;
        margin-left: 17vw;
        margin-bottom: 1rem;
    }

    .aboutContent {
        margin-right: 21.5vw; 
        margin-top: .01vw;
        margin-left: -4.5vw;
        text-align: left;
        font-size:  1.38rem;
        letter-spacing: .02rem;
    
    }
    

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: -2px;
        align-items: center;
        color: black;
        margin-top: -2rem;
    }
}
