.title {
    color: red;
}



.aboutContent {
    height: auto;
    margin-right: 11.5vw;
    margin-top: -1.60vw; 
    margin-left: -10vw;
    text-align: left;
    font-size:  1.125rem;
    margin-bottom: -2.6rem;

}

.img {
    height: 20vw;
}

.p {
    text-align: left;
}


.about {
    height: 1rem;
}

.aboutHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
    color: black;
    margin-top: 1vw;
    margin-right: 3vw;
    text-align: left;
}


@media screen and (max-width: 1366px) {
    .aboutHolder {
      max-width: 100vw;
      flex-direction: column;
    }
  
    .aboutHolder img {
      margin-bottom: 2rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 410px) {
    /* Mobile portrait style */
    img {
     
        width: 20rem; 
        margin: 1rem auto;
    }

    .aboutContent {
        margin: .1rem 2vw;
        font-size: 1.2rem;
    }


    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}


@media screen and (min-width: 411px) and (max-width: 700px) {
    /* Mobile portrait style */
    img {
     
        width: 20rem; 
        margin: 1rem auto;
    }

    .aboutContent {
        margin: .1rem 2vw;
        font-size: 1.2rem;
    }


    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 701px) and (max-width: 767px) {
    /* Mobile portrait style */
    img {
     
        width: 20rem; 
        margin: 1rem auto;
    }

    .aboutContent {
        margin: .1rem 2vw;
        font-size: 1.2rem;
    }


    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Mobile landscape style */
    img { 
        width: 40vw; 
        height: 20vw;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    .aboutContent {
        margin: 1rem 4vw;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-right: -1rem;
    }

    .aboutText {
        font-size: 1.7rem;
        text-align: center;
    }

    .aboutHolder {
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 1024px) and (max-width: 1229px) {
    /* Mobile landscape style */
    img { 
        width: 30vw; 
        height: 20vw;
        margin-top: 1rem;
    }

    .aboutContent {
        margin: 1rem 4vw;
        font-size: 1.2rem;
        margin-left: 1.5rem;
        margin-right: -1rem;
    }

    .aboutText {
        font-size: 1.7rem;
        text-align: center;
    }

    .aboutHolder {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1230px) and (max-width: 1390px) {
    img {
        height: 10rem; 
        width: 18.7rem; 
        margin-right: 5rem;
    }

    .aboutContent {
    
        margin-left: -11.3rem;
        margin-right: 2rem;
        font-size: 1.14rem;
        margin-top: -4vw;
    }

    .aboutText {
        font-size: 1.2rem;
    }

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 15px;
        align-items: center;
        color: black;
    }
}

@media screen and (min-width: 1391px) and (max-width: 1500px) {
    img {
        height: 10rem; 
        width: 17.2rem; 
        margin-top: 2.5rem;
        margin-right: 8.5rem;
    }

    .aboutContent {
        
        margin-left: -14rem;
        margin-right: 6.9rem;
        font-size: 1.13rem;
        margin-top: .2rem;
    }

    .aboutText {
        font-size: 1.3rem;
    }

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 5px;
        align-items: center;
        color: black;
        margin-top: -2vw;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1699px) {
    img {
        height: 1.5rem; 
        width: 20rem; 
        margin-top: 3.1rem;
        margin-right: 2rem;
    }

    .aboutContent {
       
        margin-left: -12.5rem;
        margin-right: 10.9rem;
        font-size: 1.14rem;
        margin-top: .5rem;
    }

    .aboutText {
        font-size: 1.3rem;
    }

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 20px;
        align-items: center;
        color: black;
        margin-top: -2vw;
    }
}

@media screen and (min-width: 1700px) and (max-width: 1900px) {
    img {

        height: 20vw;
        width: 20vw;
        border-radius: 4px;
        margin: auto;
        margin-right: 11vw

        
    }

    .aboutContent {
        margin-left: -9vw;
        margin-right: 16vw;
        text-align: left;
        font-size:  1.26rem;
        letter-spacing: .01rem;
    
    }
    

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 1px;
        align-items: center;
        color: black;
        
    }
}

@media screen and (min-width: 1901px) and (max-width: 2399px) {
    img {

        height: 20vw;
        width: 20vw;
        border-radius: 4px;
        margin: auto;
        margin-right: 11vw

        
    }

    .aboutContent {
        margin-left: -9vw;
        margin-right: 16vw;
        text-align: left;
        font-size:  1.30rem;
        letter-spacing: .01rem;
    
    }
    

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 1px;
        align-items: center;
        color: black;
        
    }
}

@media screen and (min-width: 2400px) and (max-width: 2700px) {
    img {

        height: 16vw;
        width: 16vw;
        border-radius: 4px;
        margin: auto;
        margin-right: 10vw

        
    }

    .aboutContent {
        margin-left: -8vw;
        margin-right: 25vw;
        text-align: left;
        font-size:  1.33rem;
        letter-spacing: .01rem;
    
    }
    

    .aboutHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 1px;
        align-items: center;
        color: black;
        
    }
}
