.title {
    color: red;
}

img {
    display: flex;
    height: 35rem;
    width: 20rem;
    border-radius: 10px;
    margin-top: 2vw;
    align-content: left;
}


.aboutContent {
    display: flex;
    height: auto;
    text-align: left;
    align-content: right;
    border: 0cap;

}

.aboutContent div:first-of-type,
.aboutText {
    padding: 0rem;
}

.aboutText {
    margin: auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2em;
    justify-content: center;
    align-items: center;
}

.about {
    height: 10rem;
}

.aboutHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 5vw;
}

@media screen and (max-width: 2480px),
screen and (max-width: 1980px),
screen and (max-width: 1440px),
screen and (max-width: 769px),
screen and (max-width: 481px) {
    .aboutHolder {
        flex-direction: column;
        align-items: center;
        /* Center content for mobile view */
    }

    .img {
        width: 100%;
        /* Image takes full width on smaller screens */
        margin-right: 0;
        /* Remove the right margin on smaller screens */
        margin-bottom: 2rem;
        /* Space between image and text on smaller screens */
    }

    .aboutContent {
        width: 100%;
        /* Text takes full width on smaller screens */
    }
}