.workBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 ;
    text-align: center;
    color: black;
    margin-top: 5vw;
}

.workBox img {
    height: 18rem;
    width: 32rem;
    border-radius: 10px;
}



.workModule {
    display: inline-block;
    width: 32rem;
    margin: 0 auto;
}

