.workBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 1vw;
}

.workBox img {
    height: 20rem;
    width: 32rem;
    border-radius: 15px;
}

.workModule {
  text-align: center;
}





@media screen and (max-width: 1366px) {
  .workBox {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .workModule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: unset;
    padding: 0;
    margin: 0;
  }


  .workBox img {
    width: 90vw;
    height: 51vw;
  }
}

@media screen and (max-width: 767px) {
  .workBox {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .workBox img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .workModule {
    width: 90%;
    margin: 0 auto;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .workBox {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-left: 1rem;
  }

  .workBox img {
    width: 85%;
    height: auto;
  }

  .workModule {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .workBox {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.0rem;
    padding-left: 5rem;
    text-align: center;
  }

  .workBox img {
    width: 60%;
    height: auto;
    padding-left: 5rem;
    text-align: center;
  }

  .workModule {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2700px) {
  .workBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 80px;
    color: black;
    
    text-align: center;
  }

  .workBox img {
    width: 20vw;
    margin-left: 4.5vw;
    border-radius: 15px;
  }

  .workModule {
    width: auto;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2.2vw;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1899px) {
  .workBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    color: black;
    margin-right: 2%;
    text-align: center;
  }

  .workBox img {
    width: 30vw;
    margin-left: 2.5vw;
    border-radius: 15px;
    position:relative;
  }

  .workModule {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2.2vw;

  }
}